@import './variables.scss';

body {
  font-family: $fontFamily;
  margin: 0 0 0 0;
  background-color: white;
}

hr {
  margin: 25px 0;
}

@import './link.scss';
@import './layout.scss';
@import './preview.scss';
@import './markdown.scss';
@import './foreword.scss';

// images style
img[alt=ECCdrawing] { width: 100%; }
img[alt=ball_game] { margin: auto; display: block; }
img[alt=balls_display] { width: 60%; margin: auto; display: block; }
img[alt=center_10] { width: 10%; margin: auto; display: block; }
img[alt=center_20] { width: 20%; margin: auto; display: block; }
img[alt=center_30] { width: 30%; margin: auto; display: block; }
img[alt=center_40] { width: 40%; margin: auto; display: block; }
img[alt=center_50] { width: 50%; margin: auto; display: block; }
img[alt=center_60] { width: 60%; margin: auto; display: block; }
img[alt=center_70] { width: 70%; margin: auto; display: block; }
img[alt=center_80] { width: 80%; margin: auto; display: block; }
img[alt=center_90] { width: 90%; margin: auto; display: block; }
img[alt=center_100] { width: 100%; margin: auto; display: block; }